html,
body {
    font: 1em RaleWay, Open Sans, Helvetica, sans-serif;
    color: #ffffff;
    background: #313131;

}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    font-family: Open sans, sans-serif;
    font-weight: 500;
    color: #ff0000;
}

h1 {
    color: #ffffff;
    font-size: 2em;
    top: 18px;
    left: 48px;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

.header img {
    float: left;
    width: 35px;
    height: 35px;
    background: #313131;
}

.nav {
    top: 0px;
    border-bottom: 3px solid #ff0000;
    height: 40px;
    width: 100%;
}

.footer {
    text-align: center;
    margin-top: 5px;
    padding-top: 5px;
    height: 25px;
    background: #313131;
    border-top: 3px solid #ff0000;
}

article {
    height: 100%;
    width: 100%;
    padding-top: 5px;
}

.video-name {
    text-align: center;
    padding-top: .2em;
    padding-bottom: .2em;
}

section.row {

    width: 100%;
    font-size: .875em;
}

input#filename {
    width: 100%;
    text-align: center;
    color: #ffffff;
    box-sizing: border-box;
    background-color: #646464;
    border-radius: 4px;
}

.modify {
    width: 46%;
    color: #000000;
    margin-top: 2px;
    border-radius: 4px;
    display: inline flex;
    justify-content: center;
}

.remove {
    width: 46%;
    color: #000000;
    float: right;
    display: inline flex;
    justify-content: center;
    margin-top: 2px;
    border-radius: 4px;
}

.buttons {
    width: 100%;
    margin-top: 5px;
    border-radius: 2px;
}

input {
    -webkit-appearance: none;
}

.left {
    width: 30%;
    margin: 0px;
    padding: 10px 2px 4px 0px;
    float: left;
    text-align: left;
    overflow-wrap: break-word;
}

ul.instruction {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.instruction li {
    margin: 10px 0px 10px 0px;
    padding: 0px;
}

.right {
    margin-top: 10px;
    padding: 0px;
    float: right;
    text-align: right;
    width: 65%;
    border: 1px solid #646464;
    overflow: hidden;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.list {
    width: 105%;
    color: #ffffff;
    background-color: #444444;
    border-collapse: collapse;
    border-spacing: 0;
}

.list thead,
tbody {
    display: block;
}

.list tbody {
    width: 100%;
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

.list-head {
    color: #ffffff;
    background-color: #646464;
}

.list-head tr th {
    height: 16px;
    line-height: 16px;
}

.column-file {
    width: 45%;
    text-align: left;
    padding-left: 5px;
}

.column-files {
    text-align: left;
    padding-left: 10px;
    overflow: visible;
}

.column-size {
    width: 30%;
    text-align: center;
}

.column-sizes {
    text-align: right;
    padding-left: 0px;
}

.column-date {
    text-align: left;
    padding-left: 10px;
}

.column-dates {
    text-align: left;
    padding-left: 20px;
}

.selected {
    color: #ffffff;
    background: #ff0000;
}