html,
body {
    margin: 0;
    padding: 0;
    font: 1em RaleWay, Open Sans, Helvetica, sans-serif;
    color: #ffffff;
    background: #313131;
    overflow-x: auto;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    font-family: Open sans, sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: .9em;
}

input:hover {
    opacity: 0.8;
}

button:hover {
    opacity: 0.8;
}

input[type=text] {
    color: #FFFFFF;
    background-color: #545454;
    border-radius: 4px;
    font-size: 1em;
    border-style: none;
    margin-bottom: 2px;
    text-align: center;
}

button {
    color: #ffffff;
    background-color: #646464;
    font-size: 1em;
    border-style: none;
    border-radius: 4px;
    padding: 3px;
    cursor: pointer;
    width: 100%;
}

label {
    margin-top: 3px;
    margin-right: 3px;
}

/* page layout */
main {
    display: grid;
    gap: 4px;
    grid-template-columns: 29% 30% 40%;
    grid-template-rows: auto auto auto auto auto;
    padding: 2px 3px 3px 3px;
    border: 1px solid #313131;
}

header {
    grid-column: span 3;
}

footer {
    grid-column: span 3;
    text-align: center;
    background: #313131;
    border-top: 3px solid #ff0000;
    padding: 2px 0 2px 0;
}

.nav {
    padding: 0;
    border-bottom: 3px solid #ff0000;
    display: flex;
    justify-content: flex-end;
    width: auto;
    height: auto;
}

/* logo */
.header {
    width: 100%;
    margin-right: auto;
}

.header img {
    float: left;
    width: 35px;
    height: 35px;
    background: #313131;
}

.header h1 {
    color: #ffffff;
    margin-top: 2px;
}

/* login Button */
.login-button {
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    width: auto;
}

.login-button img {
    height: 30px;
    width: 30px;
    margin: 4px 6px;
}

.login-button h3 {
    color: #ffffff;
    margin-top: 10px;
}

/* modal dialog */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#dialog div:first-child {
    margin: 300px auto;
    padding: 10px;
    border: 3px solid #646464;
    background-color: #313131;
    border-radius: 10px;
    width: 250px;
}

#dialog h3 {
    width: 100%;
    padding: 5px;
    text-align: center;
}

.animate {
    -webkit-animation: animatezoom 0.4s;
    animation: animatezoom 0.4s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}