html, body {
    margin: 0px;
    padding: 0px;
    font: 13px RaleWay, Open Sans, Helvetica, sans-serif;
    color: #766D6D;
    background: #fff;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-family: Open sans, sans-serif;
    font-weight: 500;
    color: #003133;
}

.nav {
    top: 0px;
    border-bottom: 1px solid #006466;
    height: 40px;
    width: 100%;
    padding: 5px,7px,2px,4px;
}

.logo {
    position: absolute;
    top: 10px;
    left: 20px;
}

.heading {
    position: absolute;
    top: 10px;
    left: 220px;
}

.column {
    float: left;
}

.left {
    width: 190px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    position: absolute;
    bottom: 0;
    border: 1px solid black;
    height: 50px;
    width: 100%;
    background: #fff;
}

article.row {
    margin-top: 20px;
    height: 100%;
    width: 720px;
}

section.fileinfo {
    padding: 12px;
}

div.preview {
    width: 100%;
    height: 150px;
}

img#preview-img {
    border-radius: 17px;
    border: 1px solid #006466;
    width: 100%;
    height: 100%;
}

input#file-name {
    width: 100%;
    margin-top: 12px;
    border: 0;
    outline: 0;
    text-align: center;
    font-size: 16px;
    color: #006466;
}

div.instruction {
    padding: 4px;
    text-align: center;
    margin-top: 24px;
    max-width: 180px;
    overflow-wrap: break-word;
}

.listing {
    height: 300px;
    overflow-y: scroll;
    font-size: 10px;
}

#listing-tbl {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #006466;
}

#listing-tbl th {
    text-align: left;
    font-size: 11px;
}

.selected {
    background: #00ffff;
}

#player {
    width: 500px;
    height: 280px;
    border: 1px solid black;
}

#ctrl {
    margin-top: 20px;
    width: 500px;
    height: 50px;
    border: 1px solid black;
}
