html,
body {
    margin: 0;
    padding: 0 2px 0 2px;
    font: 1em RaleWay, Open Sans, Helvetica, sans-serif;
    color: #ffffff;
    background: #313131;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    font-family: Open sans, sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: .9em;
}

input {
    display: inline-block;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #646464;
    border-radius: 4px;
    font-size: 1em;
    width: 100%;
}

.inputcontainer {
    margin-bottom: 4px;
}

button {
    color: #ffffff;
    box-sizing: border-box;
    background-color: #646464;
    border-radius: 4px;
    padding: 3px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

span {
    display: block;
    overflow: hidden;
}

label {
    margin-top: 3px;
    margin-right: 3px;
    float: left;
}

/* page layout */

.nav {
    padding: 0;
    border-bottom: 3px solid #ff0000;
    display: flex;
    justify-content: flex-end;
    width: auto;
    height: 40px;
}

article {
    height: 100%;
    width: 100%;
    padding-top: 4px;
}

section.row {
    width: 100%;
}

section.console {
    margin-top: 2px;
    margin-bottom: 5px;
}

.left {
    width: 55%;
    margin-right: 5px;
    float: left;
    text-align: left;
    overflow: hidden;
}

.right {
    padding: 0px;
    float: left;
    text-align: left;
    width: 43%;
    overflow-wrap: break-word;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    text-align: center;
    margin-top: 5px;
    padding-top: 10px;
    height: 25px;
    background: #313131;
    border-top: 3px solid #ff0000;
}

.header {
    width: 100%;
    margin-right: auto;
}

    .header img {
        float: left;
        width: 35px;
        height: 35px;
        background: #313131;
    }

    .header h1 {
        color: #ffffff;
        margin-top: 2px;
    }

/* login */

.login {
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    width: auto;
}

    .login img {
        height: 30px;
        width: 30px;
        margin: 4px 6px;
    }

    .login h3 {
        color: #ffffff;
        margin-top: 10px;
    }

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 60px;
}

.loginForm {
    background-color: #313131;
    margin: 60px auto;
    display: block;
    border: 1px solid #646464;
    width: 300px;
}

.logincontainer {
    margin: 21px 17px;
}

    .logincontainer button {
        margin-top: 14px;
    }

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* video */

.video {
    display: flex;
    justify-content: flex-end;
}

.video input[type="radio"] {
    display: none;
}

.video label {
    color: #ffffff;
    box-sizing: content-box;
    background-color: #646464;
    border-radius: 4px;
    text-align: center;
    padding: 3px;
    cursor: pointer;
    width: 50%;
}

.video label:hover {
    opacity: 0.8;
}

.video input[type="radio"]:checked + label {
    color: #ffffff;
    background-color: #ff0000;
}

/* right panel elements */

.videoname {
    margin-bottom: 8px;
}

.editcontainer button {
    display: inline-block;
    width: 49%;
}

ul.instruction {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.instruction li {
    margin: 10px 0px 10px 10px;
    padding: 0px;
}

    /* left panel elements */

.list {
    width: 105%;
    color: #ffffff;
    background-color: #444444;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 4px;
}

.list thead,
tbody {
    display: block;
}

.list thead {
    color: #ffffff;
    background-color: #646464;
    border-radius: 4px;
}

.list thead tr th {
    height: 16px;
    line-height: 16px;
}

.list tbody {
    /*font-size: .875em;*/
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.column-file {
    width: 94px;
    text-align: left;
    padding-left: 5px;
}

.column-files {
    width: 106px;
    text-align: left;
    padding-left: 10px;
    overflow: visible;
}

.column-size {
    width: 74px;
    text-align: left;
}

.column-sizes {
    width: 42px;
    text-align: right;
}

.column-date {
    text-align: left;
}

.column-dates {
    text-align: left;
    padding-left: 22px;
}

.selected {
    color: #ffffff;
    background: #ff0000;
}

@media only screen and (max-width: 415px) {
    section.row{
        font-size: .75em;
    }
    
    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }
}

@media only screen and (min-width: 416px) and (max-width: 991px) {
    section.row {
        font-size: .875em;
    }

    .editcontainer button {
        width: 48%;
    }

    .left {
        width: 65%;
    }

    .right {
        width: 33%;
    }
}

@media only screen and (min-width: 992px) {
    .column-file {
        width: 120px;
    }

    .column-files {
        width: 120px;
    }

    .column-size {
        width: 100px;
    }

    .column-sizes {
        width: 100px;
    }

    .column-date {
    }

    .column-dates {
    }
}
