#dialog div:first-child {
    margin: 300px auto;
    padding: 10px;
    border: 3px solid #646464;
    background-color: #313131;
    border-radius: 10px;
    width: 250px;
}

#dialog h3 {
    width: 100%;
    padding: 5px;
    text-align: center;
}

section.player {
}

section.console {
    margin-top:2px;
    margin-bottom: 5px;
    display: none;
}

section.owner {
    display: none;
}

.left {
    width: 55%;
    margin-right: 6px;
    float: left;
    text-align: left;
    overflow: hidden;
}

.right {
    padding: 0px;
    float: left;
    text-align: left;
    width: 45%;
    overflow-wrap: break-word;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* video */

.video {
    display: flex;
    justify-content: flex-end;
}

.video input[type="radio"] {
    display: none;
}

.video label {
    color: #ffffff;
    box-sizing: content-box;
    background-color: #646464;
    border-radius: 4px;
    text-align: center;
    padding: 3px;
    cursor: pointer;
    width: 50%;
}

.video label:hover {
    opacity: 0.8;
}

.video input[type="radio"]:checked + label {
    color: #ffffff;
    background-color: #ff0000;
}

/* right panel elements */

.videoname {
    margin-bottom: 8px;
}

.editcontainer button {
    display: inline-block;
    width: 49%;
}

ul.instruction {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.instruction li {
    margin: 10px 0px 0px 10px;
    padding: 0px;
}

/* left panel elements */

.list {
    width: 100%;
    color: #ffffff;
    border-collapse: collapse;
    border-spacing: 0px;
    border-radius: 4px;
}

.list thead,
tbody {
    display: inline-block;
    background-color: #4d4d4d;
    border-radius: 4px;
    width: 100%;
}
.list table {
    table-layout: fixed;
}

.list th, td {
    width: 100px;
    overflow: hidden;
    border: 1px solid pink;
}

.list thead {
    color: #ffffff;
    background-color: #646464;
    border: 1px solid #646464;
}

.list tbody {
    margin-top: 4px;
    height: 330px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #646464;
}

.list tbody tr {
    width: 100%;
    display: block;
}

.list thead tr th:first-child {
    width: 180px;
    /*width: 94px;*/
    text-align: left;
    padding-left: 4px;
}

.list tbody tr td:first-child {
    width: 180px;
    /*width: 106px;*/
    text-align: left;
    padding-left: 8px;
    overflow: visible;
}

.list thead tr th:nth-child(2) {
    width: 90px;
    /*width: 74px;*/
    text-align: right;
}

.list tbody tr td:nth-child(2) {
    width: 90px;
    /*width: 42px;*/
    text-align: right;
}

.list thead tr th:nth-child(3) {
    width: 140px;
    text-align: left;
}

.list tbody tr td:nth-child(3) {
    width: 140px;
    text-align: left;
    padding-left: 10px;
}

.selected {
    color: #ffffff;
    background: #ff0000;
}

.highlight {
    opacity: .7;
}

@media only screen and (max-width: 415px) {
    section.row{
        font-size: .75em;
    }
    
    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .list thead tr th:first-child {
        width: 160px;
        text-align: left;
    }

    .list tbody tr td:first-child {
        width: 160px;
        text-align: left;
        overflow: visible;
    }

    .list thead tr th:nth-child(2) {
        width: 90px;
        text-align: right;
    }

    .list tbody tr td:nth-child(2) {
        width: 90px;
        text-align: right;
    }

    .list thead tr th:nth-child(3) {
        width: 120px;
        text-align: left;
    }

    .list tbody tr td:nth-child(3) {
        width: 120px;
        text-align: left;
    }
}

@media only screen and (max-width: 480px) {
    section.row {
        font-size: .75em;
    }
}

@media only screen and (min-width: 416px) and (max-width: 991px) {

    .editcontainer button {
        width: 48%;
    }

    .left {
        width: 65%;
    }

    .right {
        width: 33%;
    }

    .list thead tr th:first-child {
        width: 80px;
        text-align: left;
    }

    .list tbody tr td:first-child {
        width: 120px;
        text-align: left;
        word-wrap: break-word;
    }

    .list thead tr th:nth-child(2) {
        width: 80px;
        text-align: right;
    }

    .list tbody tr td:nth-child(2) {
        width: 35px;
        text-align: right;
    }

    .list thead tr th:nth-child(3) {
        width: 108px;
        text-align: left;
    }

    .list tbody tr td:nth-child(3) {
        width: 100px;
        text-align: left;
    }
}

.video-js .vjs-remaining-time {
    display: contents;
}
