
.video-js .vjs-remaining-time {
    display: contents;
}

main {
    display: block;
    width: auto;
    height: auto;
}

.video {
    width: auto;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-top: 4px;
}

.video > * {
    flex: 1 100%;
}

.player {
    margin-bottom: 3px;
}

.list {
    margin-top: 4px;
    min-height: 260px;
    max-height: 380px;
    border: 1px solid pink;
    border-radius: 4px;
    overflow: scroll;
}

#console {
    min-height: 140px;
    text-align: left;
    border-radius: 4px;
    overflow-wrap: break-word;
}

/* console elements*/
.video-mode {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3px;
}

.video-mode input[type="radio"] {
    display: none;
    margin: 0;
}

.video-mode label {
    color: #ffffff;
    /*box-sizing: content-box;*/
    background-color: #646464;
    border-radius: 4px;
    text-align: center;
    padding: 3px;
    cursor: pointer;
    flex: 1 50%;
}

.video-mode label:hover {
    opacity: 0.8;
}

.video-mode input[type="radio"]:checked + label {
    color: #ffffff;
    background-color: #ff0000;
}

.editcontainer {
    margin-top: 5px;
}

.editcontainer div:first-child label {
    font-size: .85em;
    display: block;
    width: 100%;
    text-align: center;
}

.editcontainer div:first-child input {
    box-sizing: border-box;
    width: 100%;
    margin: 2px auto 0 auto;
}

.editcontainer div:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
    margin: 3px auto 0 auto;
}

ul.instruction {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.instruction li {
    margin: 0px 0px 0px 4px;
    padding: 0px;
    font-size: .9em;
}

/* list elements */
.list table {
    width: 100%;
    height: 100%;
    color: #ffffff;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0px;
}

.list table thead,
tbody {
    box-sizing: border-box;
    width: auto;
}

.list table thead {
    background-color: #646464;
}

.list table tbody {
    background-color: #4d4d4d;
}

.list table tbody tr {
    border-bottom: 1px solid pink;
}

.list table thead tr th:first-child, td:first-child {
    text-align: left;
    padding-left: 4px;
    border-right: 1px solid pink;
}

.list table thead tr th:nth-child(2), td:nth-child(2) {
    padding-right: 4px;
    text-align: right;
    border-right: 1px solid pink;
}

.list table thead tr th:nth-child(3), td:nth-child(3) {
    text-align: left;
    padding-left: 4px;
}

/* size MG span */
.fsizeunit {
    font-size: .7em;
}

.selected {
    color: #ffffff;
    background: #ff0000;
}

.highlight {
    opacity: .7;
}

@media all and (min-width: 440px) {

    .list {
        order: 2;
        margin-right: 4px;
        flex: 1.3 0 0;
    }

    #console {
        order: 3;
        flex: .7 0 0;
    }
}

@media all and (min-width: 840px) {

    .player {
        flex: 0 0 65%;
        max-width: 1080px;
    }

    .list {
        flex: 0 0 34%;
        max-width: 440px;
        max-height: 300px;
        margin: 0px 2px 3px 4px;
        height: 40%;
    }

    #console {
        flex: 0 0 65%;
        max-width: 1080px;
    }
}

@media all and (min-width: 920px) {

    .list {
        max-height: 330px;
    }
}

@media all and (min-width: 1000px) {

    .list {
        max-height: 360px;
    }
}

@media all and (min-width: 1080px) {

    .list {
        max-height: 390px;
    }
}

@media all and (min-width: 1160px) {

    .list {
        max-height: 420px;
    }
}

@media only screen and (min-width: 1280px) {

    #console {
        flex: 1 0 0;
        order: 1;
    }

    .player {
        flex: 2 0 0;
        order: 2;
    }

    .list {
        flex: 1 0 0;
        order: 3;
        max-height: 350px;
    }
}

@media all and (min-width: 1380px) {

    .list {
        max-height: 380px;
    }
}

@media all and (min-width: 1480px) {

    .list {
        max-height: 420px;
    }
}