
main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    /*min-height: 100vh;*/
    height: auto;
    padding-top: 4px;
}

section.login {
    display: block;
    width: 350px;
    margin: 100px auto;
}

label {
    float: left;
}

.inputcontainer {
    margin-bottom: 4px;
}

.logincontainer {
    background-color: #313131;
    border: 1px solid #646464;
    padding: 10% 10%;
}

.logincontainer .inputcontainer:first-child label {
    opacity: .8;
}

#usr {
    pointer-events: none;
    opacity: .8;
}

.logincontainer button {
    margin-top: 14px;
}

@media only screen and (max-width: 480px) {
    section.login {
        width: 250px;
    }
}
