#dialog div:first-child {
    margin: 300px auto;
    padding: 10px;
    border: 3px solid #646464;
    background-color: #313131;
    border-radius: 10px;
    width: 250px;
}

#dialog h3 {
    width: 100%;
    padding: 5px;
    text-align: center;
}

section.login {
    display: block;
    width: 350px;
    margin: 100px auto;
}

.logincontainer {
    background-color: #313131;
    border: 1px solid #646464;
    padding: 10% 10%;
}

.logincontainer .inputcontainer:first-child label {
    opacity: .8;
}

#usr {
    pointer-events: none;
    opacity: .8;
}

.logincontainer button {
    margin-top: 14px;
}

@media only screen and (max-width: 480px) {
    section.login {
        width: 250px;
    }
}
